<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>QueueMe Dashboard</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="static/css/style.css">
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

</head>
<body>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-12'>
      <br>
      <div class='form-horizontal'>
        <div class='form-group has-feedback'>
          <div class='col-sm-12'>
            <input class='form-control table-sortable-search' placeholder='Search...' type='search'>
            <span class='glyphicon glyphicon-remove form-control-feedback search-cancel-button'></span>
          </div>
        </div>
      </div>
      <br>
      <div class='panel panel-default'>
        <div class='table-responsive' id="app">

  <h1 style="margin-left:5px">Queue<b>Me</b> ⭐️</h1>
  <hr>
  
  <label>Rows per page</label>
  <select v-model="pageSizeModel">
    <option value="3">3</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="25">25</option>
  </select>
  
  <table class='table table-sortable'>
    <thead>
      <tr>
        <th :class="{ sorted: sort === 'id' }" @click="sortBy('id')">
          Id
        </th>
        <th :class="{ sorted: sort === 'executor' }" @click="sortBy('executor')" >
          Executor
        </th>
        <th :class="{ sorted: sort === 'name' }" @click="sortBy('name')">
          Name
        </th>
        <th :class="{ sorted: sort === 'command' }" @click="sortBy('command')" >
          Command
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="row in sortedRows">
        <td>{% raw %}{{ row.id }}{% endraw %}</td>
        <td>{% raw %}{{ row.executor }}{% endraw %}</td>
        <td>{% raw %}{{ row.name | capitalize }}{% endraw %}</td>
        <td>{% raw %}{{ row.command }}{% endraw %}</td>
        <td>
          <div class='btn-group btn-group-xs'>
            <button class='btn btn-default'>
              <span class='glyphicon glyphicon-eye-open'></span>
            </button>
            <button class='btn btn-default'>
              <span class='glyphicon glyphicon-pencil'></span>
            </button>
            <button class='btn btn-default'>
              <span class='glyphicon glyphicon-remove'></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="controls">
    <button class="btn btn-sm" :disabled="!hasPage(-1)" @click="prevPage">←</button> 
    <button class="btn btn-sm" :disabled="!hasPage(1)"  @click="nextPage">→</button>
  </div>
  
  <hr>
  <h2>New Row 😊</h2>
  <form v-on:submit.prevent="addUser">
    <input type="text" v-model="newRow.name" placeholder="Name" required>
    <input type="text" v-model="newRow.command" placeholder="Command" required>
    <button type="submit" class="btn">Add row</button>
  </form>
</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
  <script src="static/js/script.js"></script>

</body>
</html>
